<!DOCTYPE html>
<html lang="ar">

<head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <title>منصة محترف</title>
    {% load static %}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@400;700&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="static/style.css">
</head>

<body>
    <header>
        <div class="container">
            <div class="logo">
                <img alt="Logo" height="50" src="{% static 'images/logo-v3.png' %}" width="100" />
            </div>
            <nav>
                <ul>
                    <li><a href="#">الرئيسية</a></li>
                    <li><a href="#">من نحن</a></li>
                    <li><a href="#">الأسئلة الشائعة</a></li>
                    <li><a href="#">اتصل بنا</a></li>
                </ul>
            </nav>
            <div class="language-selector"></div>
            <div class="auth-buttons">
                <a href="#" class="login-btn">تسجيل الدخول</a>
                <a href="#" class="register-btn">إنشاء حساب</a>
            </div>
        </div>
    </header>

    <section class="hero">
        <div class="container">
            <div class="hero-text">
                <h1>موقع محترف</h1>
                <p>هي منصة الكترونية تفاعلية لتقديم خدمات الصيانة المنزلية عبر موقع خاص بالهواتف والاجهزة الالكترونية الذكية</p>
                <div class="app-buttons"></div>
            </div>
            <div class="hero-image">
                <img src="{% static 'images/logo-v3.png' %}" alt="Logo " height="400" width="600" />
                
 
            </div>
        </div>
    </section>

    <div class="container">
        <div class="content">
            <div class="text-section">
                <div class="icon">
                    <i class="fas fa-hexagon"></i>
                    <div>
                        <h2>خدمة عملاء يدعمون طلبك</h2>
                        <p>عميلنا بيلاقي الدعم اللي يحتاجه من فريق سعادة العملاء كل وقت وكل يوم</p>
                    </div>
                </div>
                <div class="icon">
                    <i class="fas fa-hexagon"></i>
                    <div>
                        <h2>تقدر تقييم الخدمة</h2>
                        <p>عشان نضمن لك الجودة المطلوبة، كل عميل يقدر يقيم الخدمة اللي توصله</p>
                    </div>
                </div>
            </div>
            <div class="phone">
                <img src="{% static 'images/logo-v3.png' %}" alt="Logo " height="100" width="100" />
            </div>
            <div class="text-section">
                <div class="icon">
                    <i class="fas fa-hexagon"></i>
                    <div>
                        <h2>كل الخدمات عندنا</h2>
                        <p>موقع محترف يقدم لك كل خدمات الصيانة المنزلية اللي ممكن تحتاجها</p>
                    </div>
                </div>
                <div class="icon">
                    <i class="fas fa-hexagon"></i>
                    <div>
                        <h2>خدمتنا فورية</h2>
                        <p>أكثر شيء بيميزنا أن خدمتنا سريعة وفورية. اطلب المحترف الحين ومسافة الطريق وهو عندك</p>
                    </div>
                </div>
                <div class="icon">
                    <i class="fas fa-hexagon"></i>
                    <div>
                        <h2>نضمن لك الجودة والسعر</h2>
                        <p>احنا عشان كذا موجودين اصلاً. راح نقدم لك ضمان على الخدمة وسعر يرضيك</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="background-shapes">
            <div class="shape shape1"></div>
            <div class="shape shape2"></div>
            <div class="shape shape3"></div>
        </div>
    </div>


    <div class="social-icons">
        <a href="#"><i class="fab fa-facebook-f"></i></a>
        <a href="#"><i class="fab fa-linkedin-in"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-snapchat-ghost"></i></a>
        <a href="#"><i class="fab fa-tiktok"></i></a>
        <h6 class="copyright">كل الحقوق محفوظة لموقع محترف 2024©</h6>
    </div>


</body>

</html>
