<!DOCTYPE html>
<html lang="ar">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>خدمات</title>
    {% load static %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@400;700&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="{% static 'style-services.css' %}">
</head>

<body>
    <header>
        <div class="container">
            <div class="logo">
                <img src="{% static 'images/logo.png' %}" alt="Logo">
            </div>
            <nav>
                <ul>
                    <li><a href="#">الرئيسية</a></li>
                    <li><a href="#">من نحن</a></li>
                    <li><a href="#">خدمات فني</a></li>
                    <li><a href="#">سجل معنا</a></li>
                    <li><a href="#">مدونتنا</a></li>
                    <li><a href="#">الأسئلة الشائعة</a></li>
                    <li><a href="#">اتصل بنا</a></li>
                </ul>
            </nav>
            <div class="auth-buttons">
                <a href="#" class="login-btn">تسجيل الدخول</a>
                <a href="#" class="register-btn">إنشاء حساب</a>
            </div>
        </div>
    </header>
    <div class="main">
        <div class="service-box">
            <i class="fas fa-tools"></i>
            <p>نجارة</p>
        </div>
        <!-- <div class="service-box">
            <i class="fas fa-satellite-dish"></i>
            <p>ستالايت</p>
        </div> -->
        <div class="service-box">
            <i class="fas fa-home"></i>
            <p>بلاط</p>
        </div>
        <div class="service-box">
            <i class="fas fa-bicycle"></i>
            <p>سباكة</p>
        </div>
        <!-- <div class="service-box">
            <i class="fas fa-truck"></i>
            <p>نقل</p>
        </div> -->
        <div class="service-box">
            <i class="fas fa-plug"></i>
            <p>كهرباء</p>
        </div>
        <!-- <div class="service-box">
            <i class="fas fa-bug"></i>
            <p>مكافحة حشرات</p>
        </div> -->
        <div class="service-box">
            <i class="fas fa-wind"></i>
            <p>تكييف</p>
        </div>
        <div class="service-box">
            <i class="fas fa-paint-roller"></i>
            <p>دهان</p>
        </div>
        <div class="service-box">
            <i class="fas fa-broom"></i>
            <p>تنظيف</p>
        </div>
        <div class="service-box">
            <i class="fas fa-mobile-alt"></i>
            <p>صيانة جوال</p>
        </div>
        <div class="service-box">
            <i class="fas fa-camera"></i>
            <p>كاميرات مراقبة</p>
        </div>
        
    </div>
    <div class="social-icons">
        <h6 class="copyright">Support</h6>
        <a href="#"><i class="fab fa-facebook-f"></i></a>
        <a href="#"><i class="fab fa-linkedin-in"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-tiktok"></i></a>
        <h6 class="copyright">جميع الحقوق محفوظة</h6>
    </div>
</body>

</html>