<html lang="ar">
 <head>
  <title>Chat page</title>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet"/>
  <link rel="stylesheet" href="chat.css ">
 </head>
 <body>
    <header>
        <div class="container">
            <div class="logo">
                <img src="https://i.ibb.co/9qVrBv0/logo-page.png" alt="Logo">
            </div>
            <nav>
                <ul>
                    <li><a href="#">الرئيسية</a></li>
                    <li><a href="#">من نحن</a></li>
                    <li><a href="#">خدمات فني</a></li>
                    <li><a href="#">سجل معنا</a></li>
                    <li><a href="#">مدونتنا</a></li>
                    <li><a href="#">الأسئلة الشائعة</a></li>
                    <li><a href="#">اتصل بنا</a></li>
                </ul>
            </nav>
            <div class="auth-buttons">
                <a href="#" class="register-btn">تسجيل خروج</a>
            </div>
        </div>
        </header>
  <div class="chat-container">
   <div class="header">
    <div class="info">
     <img alt="User profile picture" height="40" src="https://storage.googleapis.com/a1aa/image/me0A9G2Yveo870u2xf2T19e3uhXo2mfYfL68M3LvoQDi9m08E.jpg" width="40"/>
     <div>
      <div class="name">
       مستخدم
      </div>
     </div>
    </div>
   </div>


   <div class="chat-body">
    <div class="today">
     اليوم
    </div>
    <div class="message sent">
     مرحبا كيفك
     <div class="time">
      9:20 AM
     </div>
    </div>
    <div class="message received">
     اهلا وسهلا
     <div class="time">
      9:23 AM
     </div>
    </div>
    </div>


   <div class="footer">
    <i class="fas fa-paper-plane">
    </i>
    <input placeholder="اكتب رسالتك" type="text"/>
    <i class="fas fa-microphone">
    </i>
   </div>
  </div>
 </body>
</html>
