<!DOCTYPE html>
<html lang="ar">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Profile</title>
    <link rel="stylesheet" href="user_profile.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
</head>
<body>
  <header>
    <div class="model_navbar">
        <img class="logo navbar-item" src="https://i.ibb.co/9qVrBv0/logo-page.png" alt="Logo" width="100">
        <nav class="navbar-item">
            <ul>
                <li><a href="/">الرئيسية</a></li>
                <li><a href="/service">خدماتنا</a></li>
                <li><a href="/About_us/">من نحن</a></li>
                <li><a href="/fqa/">الأسئلة الشائعة</a></li>
                <li><a href="/contact_us/">اتصل بنا</a></li>
                <li>
                    <div class="sidebar">
                        <div class="profile-pic" id="profile-pic"></div>
                        <div class="icons-container" id="icons-container">
                            <div class="separator"></div>
                            <div class="icon"><i class="fas fa-comment"></i></div>
                            <div class="icon"><i class="fas fa-sliders-h"></i></div>
                            <div class="icon">
                                <i class="fas fa-bell"></i>
                                <span class="badge">18</span>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </nav>
        <div class="auth-buttons navbar-item">
            <a href="#" class="logout-btn">تسجيل الخروج </a>
        </div>
    </div>
</header>

    <main>
        <section class="profile-section">
            <div class="profile-container">
                <div class="profile-pic"></div>
                <h2>اسم المستخدم</h2>
                <p>الموقع: رام الله</p>
                <p>البريد الإلكتروني: example@email.com</p>
                <p>رقم الهاتف: 123-456-7890</p>
                <button class="edit-btn">تعديل المعلومات</button>
            </div>
        </section>
    </main>

    <fotter>
        <div class="fotter">
            <a href="#"><i class="fab fa-facebook-f"></i></a>
            <a href="#"><i class="fab fa-linkedin-in"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-snapchat-ghost"></i></a>
            <a href="#"><i class="fab fa-tiktok"></i></a>
        </div>
        <p class="copyright">كل الحقوق محفوظة لموقع محترف 2024©</p>
    </footer>
    <script src="script_user_das.js">
 
    </script>
</body>
</html>
