<!DOCTYPE html>
<html lang="ar" dir="rtl">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% load static %}
  <link rel="stylesheet" href="{% static 'style.css' %}">
  <title>صفحة المستخدم</title>
</head>
<body>
  <header>
    <div class="container">
        <div class="logo">
            <img alt="Logo" height="50" src="https://i.ibb.co/9qVrBv0/logo-page.png" width="100" />
        </div>
        <nav>
            <ul>
                <li><a href="#">الرئيسية</a></li>
                <li><a href="#">خدماتنا</a></li>
                <li><a href="#">من نحن</a></li>
                <li><a href="#">الأسئلة الشائعة</a></li>
                <li><a href="#">اتصل بنا</a></li>
            </ul>
        </nav>
        <div class="language-selector"></div>
        <div class="auth-buttons">
            <a href="#" class="login-btn">تسجيل خروج</a>
        </div>
    </div>
</header>

    <main class="content">
      

      
      
      <div class="profile-card">
        <div class="profile-pic"></div>
        <p class="name">الاسم</p>
        <button class="edit-btn">تعديل</button>
        <h3>Your Rating</h3>
        <h3>⭐⭐⭐⭐⭐</h3>
        <div class="rating">
         
        </div>
      </div>
    <div class="notificationss">
      <div class="notifications">
        <h3>الإشعارات</h3>
        <div class="notification">إشعار 1</div>
        <div class="notification">إشعار 2</div>
      </div>
      <div class="task-info">
        <p>عدد المهام المنجزة: </p>
        <p>الرصيد: </p>
        <p>الوصف:</p>
      </div>
    </div>

      <div class="comments">
        
        <div class="comment">
          <div class="comment-profile-pic"></div>
          <p class="comment-name">الاسم</p>
          <input type="hidden">
          <p class="comment-text">
            هنا مكان النص الخاص بالتعليق...
          </p>
          <button class="reply-btn">التعليقات</button>
        </div>
      </div>
      
    </main>
  </div>
</body>
</html>
