<!DOCTYPE html>
<html lang="ar" dir="rtl">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="styles.css">
  <title>صفحة المستخدم</title>
</head>
<body>
  <div class="container">
    <!-- Header -->
    <header class="header">
      <button class="logout-btn">تسجيل الخروج</button>
      <img src="download (1).png" class="logo">
    </header>

    <main class="content">
      

      <div class="task-info">
        <p>عدد المهام المنجزة: </p>
        <p>الرصيد: </p>
        <p>الوصف:</p>
      </div>

      
      <div class="profile-card">
        <div class="profile-pic"></div>
        <p class="name">الاسم</p>
        <button class="edit-btn">تعديل</button>
        <div class="rating">
         
        </div>
      </div>

      <div class="comments">
        
        <div class="comment">
          <div class="comment-profile-pic"></div>
          <p class="comment-name">الاسم</p>
          <input type="hidden">
          <p class="comment-text">
            هنا مكان النص الخاص بالتعليق...
          </p>
          <button class="reply-btn">التعليقات</button>
        </div>
      </div>
      <div class="notifications">
        <h3>الإشعارات</h3>
        <div class="notification">إشعار 1</div>
        <div class="notification">إشعار 2</div>
      </div>
    </main>
  </div>
</body>
</html>
